<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Year $year
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Year'), ['action' => 'edit', $year->ID]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Year'), ['action' => 'delete', $year->ID], ['confirm' => __('Are you sure you want to delete # {0}?', $year->ID)]) ?> </li>
        <li><?= $this->Html->link(__('List Years'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Year'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="years view large-9 medium-8 columns content">
    <h3><?= h($year->ID) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Yea Name') ?></th>
            <td><?= h($year->yea_name) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('ID') ?></th>
            <td><?= $this->Number->format($year->ID) ?></td>
        </tr>
    </table>
</div>
