<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\CategoriesSclassesTeachersYearsTeacher[]|\Cake\Collection\CollectionInterface $categoriesSclassesTeachersYearsTeachers
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Categories Sclasses Teachers Years Teacher'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="categoriesSclassesTeachersYearsTeachers index large-9 medium-8 columns content">
    <h2 class="content-title"><?= __('Categories Sclasses Teachers Years Teachers') ?></h2>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('ID') ?></th>
                <th scope="col"><?= $this->Paginator->sort('sclasses_teachers_year_ID') ?></th>
                <th scope="col"><?= $this->Paginator->sort('teacher_ID') ?></th>
                <th scope="col"><?= $this->Paginator->sort('categorie_ID') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($categoriesSclassesTeachersYearsTeachers as $categoriesSclassesTeachersYearsTeacher): ?>
            <tr>
                <td><?= $this->Number->format($categoriesSclassesTeachersYearsTeacher->ID) ?></td>
                <td><?= $this->Number->format($categoriesSclassesTeachersYearsTeacher->sclasses_teachers_year_ID) ?></td>
                <td><?= $this->Number->format($categoriesSclassesTeachersYearsTeacher->teacher_ID) ?></td>
                <td><?= $this->Number->format($categoriesSclassesTeachersYearsTeacher->categorie_ID) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $categoriesSclassesTeachersYearsTeacher->ID]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $categoriesSclassesTeachersYearsTeacher->ID]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $categoriesSclassesTeachersYearsTeacher->ID], ['confirm' => __('Are you sure you want to delete # {0}?', $categoriesSclassesTeachersYearsTeacher->ID)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
