<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\SclassesTeachersYearsStudent $sclassesTeachersYearsStudent
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Sclasses Teachers Years Student'), ['action' => 'edit', $sclassesTeachersYearsStudent->ID]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Sclasses Teachers Years Student'), ['action' => 'delete', $sclassesTeachersYearsStudent->ID], ['confirm' => __('Are you sure you want to delete # {0}?', $sclassesTeachersYearsStudent->ID)]) ?> </li>
        <li><?= $this->Html->link(__('List Sclasses Teachers Years Students'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Sclasses Teachers Years Student'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="sclassesTeachersYearsStudents view large-9 medium-8 columns content">
    <h3><?= h($sclassesTeachersYearsStudent->ID) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('ID') ?></th>
            <td><?= $this->Number->format($sclassesTeachersYearsStudent->ID) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Sclasses Teachers Year ID') ?></th>
            <td><?= $this->Number->format($sclassesTeachersYearsStudent->sclasses_teachers_year_ID) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Student ID') ?></th>
            <td><?= $this->Number->format($sclassesTeachersYearsStudent->student_ID) ?></td>
        </tr>
    </table>
</div>
